<h2 class="sr-only"><%= t('hyrax.homepage.featured_links.title') %></h2>

<ol class="list-group list-group-striped" id="featured_links">
  <li class="recent-item"><a href="https://guides.libraries.indiana.edu/c.php?g=1454336&p=10811237" target="_blank">IU DataCORE Documentation</a></li>
</ol>
