export RAILS_ENV='development'
export RAILS_MAX_THREADS=5
export PORT=3000

export DATACORE__HOSTNAME='deepblue.local'
export DATACORE__GLOBUS_DIR='/deepbluedata-globus'
export DATACORE__USER=$USER
export DATACORE__NOTIFICATION_EMAIL=$DATACORE__USER'@iu.edu'
export DATACORE__WEB_CONCURRENCY=2
export DATACORE__TMPDIR='/tmp'
export DATACORE__FILE_DERIVATIVES_DIR='/datacore-prep/fedora-extract'
export DATACORE__JAVA_IO_DIR='/datacore-prep/fedora-extract'

export DATACORE__EZID__HOST=ezidhost.invalid
export DATACORE__EZID__PORT=443
export DATACORE__EZID__USER=eziduser.invalid
export DATACORE__EZID__PASSWORD=ezidpassword.invalid
export DATACORE__EZID__SHOULDER=doi:10.5072/FK2
export DATACORE__EZID__TIMEOUT=300

export DATACORE__HYRAX__CONTACT_EMAIL=$DATACORE__USER'@iu.edu'
# export DATACORE__HYRAX__MINTER_STATEFILE=$MINTER_FILE
export DATACORE__HYRAX__REDIS_NAMESPACE='deepbluedata-dev'

export DATACORE__JIRA_USERNAME=jirausername.invalid
export DATACORE__JIRA_PASSWORD=jirapassword.invalid
export DATACORE__JIRA_SITE_URL='https://tools.lib.umich.edu'

export DATACORE__FEDORA__URL='http://127.0.0.1:8984/rest'
export DATACORE__FEDORA__BASE_PATH='/deepbluedata-dev'

export DATACORE__RAILS__SECRET_KEY_BASE='123456789abcdef'
export DATACORE__RAILS__DATABASE__DATABASE='db/development.sqlite3'

export DATACORE__REDIS__HOST=localhost
export DATACORE__REDIS__PORT=6379
export DATACORE__REDIS__THREAD_SAFE=true

export DATACORE__SOLR__URL='http://127.0.0.1:8983/solr/deepbluedata-dev'
