<% content_for :page_header do %>
  <h1><span class="fa fa-sitemap" aria-hidden="true"></span> Editing robots.txt</h1>
<% end %>

<div class="row">
  <div class="col-md-12">
    <p>This form controls the contents of the site's
      <a href="https://developers.google.com/search/docs/crawling-indexing/robots/robots_txt">robots.txt</a> file.
    </p>
    <%= render 'form' %>
  </div>
</div>
