//https://github.iu.edu/iucomm/iu-brand/blob/master/dist/3.2.x/brand.css
@font-face {
  font-family: 'BentonSansRegular';
  src: url("https://fonts.iu.edu/fonts/benton-sans-regular.eot");
  src: url("https://fonts.iu.edu/fonts/benton-sans-regular.eot?#iefix") format("embedded-opentype"), url("https://fonts.iu.edu/fonts/benton-sans-regular.woff") format("woff"), url("https://fonts.iu.edu/fonts/benton-sans-regular.ttf") format("truetype"), url("https://fonts.iu.edu/fonts/benton-sans-regular.svg#BentonSansRegular") format("svg");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'BentonSansCondRegular';
  src: url("https://fonts.iu.edu/fonts/benton-sans-cond-regular.eot");
  src: url("https://fonts.iu.edu/fonts/benton-sans-cond-regular.eot?#iefix") format("embedded-opentype"), url("https://fonts.iu.edu/fonts/benton-sans-cond-regular.woff") format("woff"), url("https://fonts.iu.edu/fonts/benton-sans-cond-regular.ttf") format("truetype"), url("https://fonts.iu.edu/fonts/benton-sans-cond-regular.svg#BentonSansCondRegular") format("svg");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'BentonSansCondBold';
  src: url("https://fonts.iu.edu/fonts/benton-sans-cond-bold.eot");
  src: url("https://fonts.iu.edu/fonts/benton-sans-cond-bold.eot?#iefix") format("embedded-opentype"), url("https://fonts.iu.edu/fonts/benton-sans-cond-bold.woff") format("woff"), url("https://fonts.iu.edu/fonts/benton-sans-cond-bold.ttf") format("truetype"), url("https://fonts.iu.edu/fonts/benton-sans-cond-bold.svg#BentonSansCondBold") format("svg");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'GeorgiaProBoldItalic';
  src: url("https://fonts.iu.edu/fonts/georgia-pro-bold-italic.eot");
  src: url("https://fonts.iu.edu/fonts/georgia-pro-bold-italic.eot?#iefix") format("embedded-opentype"), url("https://fonts.iu.edu/fonts/georgia-pro-bold-italic.woff") format("woff"), url("https://fonts.iu.edu/fonts/georgia-pro-bold-italic.ttf") format("truetype"), url("https://fonts.iu.edu/fonts/georgia-pro-bold-italic.svg#GeorgiaProBoldItalic") format("svg");
  font-style: normal;
  font-weight: normal;
}
