<aside class="<%= sidebar_classes %> static-page-sidebar">
  <h2>About</h2>
  <ul>
    <%= render partial: 'help_sidebar_link', locals: { path: 'about', label: "About IU DataCORE" } %>
    <%= render partial: 'help_sidebar_link', locals: { path: 'file-format-preservation', label: "File Formats & Preservation" } %>
    <%= render partial: 'help_sidebar_link', locals: { path: 'retention', label: "Retention" } %>
  </ul>
</aside>
