<%= render partial: 'help_sidebar' %>

<div class="<%= main_content_classes %> static-page-main">
<h2>Help</h2>

<p>IU Data CORE is a component of a suite of services provided by the IU Libraries designed to broadly disseminate the intellectual contributions in research, teaching, and creativity made by the Indiana University community and to ensure its longevity. We'll walk you through the simple steps of preparing, uploading, and depositing your data.</p>
</div>
