<% provide :page_title, construct_page_title('Management Plan Text') %>

<p>The data generated through this project will be deposited into DataCORE, Indiana University's institutional data repository.
  DataCORE has been developed by the Indiana University Libraries to assist researchers in complying with grant-funding agency requirements.</p>

<p>Content in DataCORE is stored on networked storage operated by University Information Technology Services (UITS) in campus data centers.
  UITS provides the Library with a single active instance of the content on spinning disk and a nightly replica of the content to an alternate campus datacenter
  for disaster recovery purposes only.
  Tape backups with 6-month retention are conducted nightly using the campus-operated tape backup service and are also replicated to a remote site nightly.
  More details about the storage service are available at <a href=http://services.it.umich.edu/mistorage>MiStorage</a> and about the tape backup service
  at <a href=http://services.it.umich.edu/mibackup>MiBackup</a></p>

<p>During deposit, researchers include documentation for the data and assign metadata to the data to facilitate its discovery and use.
  The metadata can be harvested by search engines such as Google Scholar.
  Data sets are assigned a Digital Object Identifier (DOI) as a persistent identifier for the data, enabling the data to be cited in publications.
  Researchers select a Creative Commons license as a part of the deposit process to describe the conditions under which others may use the data.
  Deposited data will be accessible through the DataCORE for at least 10 years, after which it will be appraised for continued preservation
  by University Library personnel.</p>
