<div class="topNav container">
  <div class="row">
    <nav class="navbar navbar-default">
      <div class="collapse navbar-collapse" id="top-navbar-collapse">
        <%= render '/user_util_links' %>
      </div>
    </nav>
  </div>
</div>

<div class="search-bar--header ">
  <div class="search-bar-container container-fluid">
    <%= render partial: 'catalog/search_form' %>
  </div>
</div>
