 <div class="panel panel-default panel-analytics">
    <div class="panel-heading">
      <h2>Analytics</h2>
    </div>
    <div class="panel-body">
      <%= link_to t('simple_form.actions.data_set.analytics'),
                  @presenter.relative_url_root + @presenter.stats_path,
                  id: 'stats',
                  class: 'btn btn-subtle btn-analytics',
                  data: { turbolinks: false } %>
    </div>
  </div>
