<div class="panel panel-default panel-edit">
  <div class="panel-heading">
    <h2>Edit Work</h2>
  </div>
  <div class="panel-body">
    If you need to edit your work, contact the DataCORE team at: <a href="mailto:resdata@iu.edu">resdata@iu.edu</a>.
  </div>
</div>
